<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Usuario - Instagram</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1>Resultados de búsqueda para "{{ search_query }}"</h1>
    <div class="search-results">
        {% if users %}
            <ul>
                {% for user in users %}
                    <li><a href="{{ url_for('profile', username=user) }}">{{ user }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se ha encontrado ningún perfil.</p>
        {% endif %}
    </div>

</body>
</html>
